<html ng-app="snowing">
    <link href="style.css" rel="stylesheet"/>
    <script src="angular.min.js"></script>
    <script src="snow.controller.js"></script>
    <body class="background" ng-controller="SnowCtrl">
        <div class="snowflake"
             ng-repeat="flake in snowflakes"
             style="top:{{flake.y}}%; left:{{flake.x}}%; font-size:{{flake.size*0.5}}pt;text-shadow:0 0 5px white;">
            {{settings.snowflakeSymbol}}
        </div>
        <div style="display:flex; align-items:flex-start;">
            <div class="showOptions" ng-click="settings.optionsVisible = !settings.optionsVisible">☰</div>
            <div class="optionsBlock" ng-show="settings.optionsVisible">

                <div class="optionHeader">Snowflake type:</div>
                <div class="optionValue">
                    <label ng-repeat="symbol in ['•','●','❄','❅','❆']">
                        <input type="radio" ng-model="settings.snowflakeSymbol" value="{{symbol}}">{{symbol}}
                    </label>
                </div>

                <div class="optionHeader">Density of snowflakes:</div>
                <div class="optionValue">
                    <input type="number"
                           ng-model="settings.maxrho"
                           min="10"
                           max="1000">
                </div>

                <div class="optionHeader">Distances:</div>
                <div class="optionValue">
                    <label>Min<input type="number" ng-model="settings.minz" min="0.2" max="10.0" step="0.1"></label>
                    <label>Max<input type="number" ng-model="settings.maxz" min="1.0" max="20.0" step="0.1"></label>
                </div>

                <div class="optionHeader">Wind speed:</div>
                <div class="optionValue">
                    <input type="number" min="-10.0" max="10.0" step="0.1" ng-model="settings.windx">
                </div>

                <button style="float: right; margin-top:6px;" ng-click="initializeSnow()">Save</button>
            </div>
        </div>
    </body>
</html>